/**********Desktop**********/
* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
}


#basket-output {
    display: flex;
    background-color: aqua;
    flex-wrap: wrap;
    margin-top: 12rem;
    /*position: absolute;*/
}


.Cart-products {
    border: solid blue;
    width: 10rem;
    height: 15rem;
    padding: 1rem;
    text-align: center;
    margin-left: 14px;
    /*margin-top: 10px;*/
    border-radius: 12px;
    background-color: #f5f5f5;

}

.Cart-products img {
    /*width: 40%;*/
    height: 6rem;
    align-items: center;
}

/*.Cart-products p:nth-child(2) {
    display: none;
}*/

.description {
    display: none;
}

.shoppingtitle {
    background-color: bisque;
    display: flex;
    align-items: center;
    color: #212121;

    margin-top: 7rem;
    /*font-weight: bolder;*/
    font-size: large;
    position: absolute;


}

.shoppingtitle i {
    font-size: 2rem;
    margin-right: 11px;
    width: 30px;
    height: 30px;

}

/**********Desktop**********/
/**********Tablet**********/
/*@media (min-width: 481px) and (max-width: 767px) {






}*/






/**********tablet**********/