* {
    margin: 0;
    padding: 0;
}




/*.shoppingtitle {
    border: solid red;
    /*margin-top: 10rem;*/
/*color: #212121;*/
/*}*/


.body {
    color: aliceblue;
    display: flex;
}

.basket-output {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 100px;
    width: 100px;

}

/***********ProductDisplay in kundvagn***************/
.Cart-products {
    border: solid blue;
    max-width: 10rem;
    height: 15rem;
    padding: 1rem;
    text-align: center;
    margin-left: 2rem;
    margin-top: 15rem;
    border-radius: 12px;

}

.Cart-products img {
    width: 40%;
    align-items: center;
}

.Cart-products p:nth-child(2) {
    display: none;
}

/***********ProductDisplay in kundvagn***************/