* {
    margin: 0;
    padding: 0;
}

.body {
    color: aliceblue;

}


#basket-output {
    display: flex;
    padding: 100px;
    width: 100px;
    margin-left: 4rem;
}


.Cart-products {
    border: solid blue;
    width: 10rem;
    padding: 1rem;
    text-align: center;
    margin-left: 2rem;
    margin-top: 10rem;
    border-radius: 12px;

}

.Cart-products img {
    width: 40%;
    align-items: center;
}

.Cart-products p:nth-child(1) {
    display: none;
}

.shoppingtitle {
    border: solid red;

    color: #212121;
}

/***********ProductDisplay in kundvagn***************/