/*****Tablet*****/
@media (min-width: 481px) and (max-width: 767px) {
  .products p {
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
  }

  .products h2 {
    font-weight: bolder;
    font-size: 2.5rem;
  }

  .products img {
    width: 30%;
    align-items: center;
  }

  .products:nth-child(2) img {
    width: 40%;
  }
}

@media (min-width: 765px) and (max-width: 1024px) {
  .products p {
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
  }

  .products h2 {
    font-weight: bolder;
    font-size: 2.5rem;
  }

  .products img {
    width: 20%;
    align-items: center;
  }

  .products:nth-child(2) img {
    width: 40%;
  }
}
/****TabletEnd*****/

/******DeskTop***********/

@media (min-width: 1025px) and (max-width: 1280px) {
  .products img {
    width: 15%;
    align-items: center;
  }

  .products:nth-child(2) img {
    width: 25%;
  }

  .AllOrderInfo {
    width: 30%;
  }

  .products p {
    font-weight: bolder;
  }
}

@media only screen and (min-width: 1281px) {
  .products img {
    width: 15%;
    align-items: center;
  }

  .products:nth-child(2) img {
    width: 20%;
  }

  .AllOrderInfo {
    width: 30%;
  }

  .products p {
    font-weight: bolder;
  }
}
/******DeskTopEnd***********/
