* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  display: flex;
}

/* Ta bort knapp */
.removeBtn {
  align-items: center;
  width: 6.3rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #e54f4f;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 14px;
}

/* Lägg till i kungvagnen knapp */
.addToBasketBtn {
  align-items: center;
  width: 15rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  background-color: #5596f4;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  font-size: 15px;
}

/*slutför ditt köp knapp*/


/*.completeYourPurchaseBtn {
  justify-content: center;
  align-items: center;
  width: 11rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  background-color: #5596f4;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  font-size: 15px;
  text-align: center;
}

/**********Header**********/
/*links color and hide underline in header*/
a {
  color: #ffffff;
  text-decoration: none;
}

.headertitle h1 {
  font-weight: 345;
}

/*header size & color*/
.header {
  display: flex;
  justify-content: space-between;
  background-color: #212121;
  width: 100%;
  height: 70px;
  position: fixed;
  border: 3px solid #212121;
}

/*title & links*/
.headertitle {
  padding: 9px;
  font-family: "Poppins", sans-serif;
}

/*shopping cart & link*/
.shoppingcart {
  color: #ffffff;
  padding: 10px;
  display: flex;
  width: 90px;
  /*width: 6rem*/
  font-size: 2rem;
}

.count {
  margin-left: 20px;
  font-size: 30px;
}

/**********Header**********/
/***********ProductDisplay***************/
body {
  min-height: 100vh;
  font-family: poppins;
}

.products {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products p {
  text-align: center;
  font-weight: bolder;
  font-size: 12px;
  padding: 10px;
}

.products span {
  font-weight: bolder;
  padding-bottom: 10px;

  font-size: 13px;
}

.products p {
  text-align: center;
  font-weight: lighter;
}

.products span {
  font-weight: bolder;
}

.products h1 {
  font-weight: bolder;
}

.products img {
  width: 45%;
  align-items: center;
}

.products:nth-child(2) img {
  width: 70%;
}

.products:nth-child(odd) {
  background-color: #f5f5f5;
}

/***********ProductDisplayEnd***************/

.totalPrice {
  width: 100%;
  height: 100%;
}
